body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large;
}

#container {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 500px;
    height: 500px;
    display: flex;
    
}
